/* FUNCTIONS */
/* DEFINITIONS */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}
body {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
  -webkit-perspective: 0;
  -moz-perspective: 0;
  -o-perspective: 0;
  perspective: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.node {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
/*.surface {
    .box-sizing;
    .transform-origin;
    .transform-style(flat);
    .backface-visibility;
    position:                       absolute;
    -webkit-tap-highlight-color:    transparent;
    pointer-events:                 auto;
}*/
.interactive {
  pointer-events: auto;
}
.doubleSided {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;
}
.round {
  border-radius: 50%;
}
