html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}
body {
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-perspective: 0;
  perspective: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(-999999px);
}
.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
.node {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.surface {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
}
.interactive {
  pointer-events: auto;
}
.content .doubleSided {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
