html, body {
    margin:             0;
    padding:            0;
    width:              100%;
    height:             100%;
    overflow:           hidden;
    background-color:   #000;
}

body {
    font-family:                    sans-serif;
    -webkit-transform-style:        flat;
            transform-style:        flat;
    -webkit-font-smoothing:         antialiased;
    -webkit-tap-highlight-color:    transparent;
    -webkit-perspective:            0;
    -webkit-transform:              translateZ(-999999px);  /* WHY? */
}

.container {
    position:                       absolute;
    width:                          100%;
    height:                         100%;
    margin:                         0;
    padding:                        0;
    -webkit-transform-style:        preserve-3d;
            transform-style:        preserve-3d;
    -webkit-backface-visibility:    hidden;
            backface-visibility:    hidden;
    pointer-events:                 none;
}

.node {
    position:                       absolute;
    -webkit-transform-origin:       center center;
            transform-origin:       center center;
    -webkit-backface-visibility:    hidden;
            backface-visibility:    hidden;
    -webkit-transform-style:        preserve-3d;
            transform-style:        preserve-3d;
}

.surface {
    position:                       absolute;
    -webkit-transform-origin:       center center;
            transform-origin:       center center;
    -webkit-backface-visibility:    hidden;
            backface-visibility:    hidden;

    -wxebkit-transform-style:       preserve-3d;
             transform-style:       preserve-3d;

    -webkit-transform-style:        flat;
            transform-style:        flat;

    -webkit-box-sizing:             border-box;
            box-sizing:             border-box;
    -webkit-tap-highlight-color:    transparent;
    pointer-events:                 auto;
}
