.container {
    -webkit-perspective:            450px;
            /*perspective:          450px;*/
}

#f1, #f2, #f3, #f4 {
    text-align:                     center;
    line-height:                    256px;
    font-size:                      200px;
    font-weight:                    bold;
    color:                          rgba(0, 0, 0, 0.5);
}

#f1 { background-color: #A0A; }
#f2 { background-color: #AA0; }
#f3 { background-color: #0AA; }
#f4 { background-color: #AAA; }
