.container {
    -webkit-perspective:            450px;
            /*perspective:          450px;*/
}

.cubeFace {
    text-align:                     center;
    line-height:                    256px;
    font-size:                      200px;
    font-weight:                    bold;
    color:                          rgba(0, 0, 0, 0.5);
    background-image:               url(resources/nyan-cat.gif);
    background-position:            50% 50%;
    background-size:                100% 70%; /*500 350*/
    background-repeat:              no-repeat;
}

#f1 { background-color: #A0A; }
#f2 { background-color: #AA0; }
#f3 { background-color: #0AA; }
#f4 { background-color: #AAA; }

.title {
    color:                          #FFF;
    text-align:                     center;
    font-weight:                    bold;
    font-size:                      90px;
    line-height:                    100px;
    text-shadow:                    0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
    opacity:                        0.66;
}

#d1, #d3, #d5 {
    color:                          #000;
    text-shadow:                    0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}
