.container {
    -webkit-perspective:            600px;
            perspective:            600px;
}

#field {
    background-image: url(resources/football-field.png);
    background-color: #050;
}

.player {
    background-image: url(resources/football-jersey.png);
}
